 <div class="container">

   <!-- <div class="well center-block text-center" style="width:40%;"> -->
   <div class="jumbotron jumbotron-extend">
    <div class="container-fluid jumbotron-container">
  <div class="chara">
     <h1>GX</h1> <br />
     <h2> 〜Enhance your Gourmet Experience in Foreign Countries〜 </h2>
   </div>


    <h3 class="btn-group-vertical btn-group-lg">
    <%= link_to '何か食べたい！', '/gourmet_info/restaurants', class: 'btn btn-primary btn-lg' %>
   <!-- <%= link_to '何か作りたい！', '/under_construction', class: 'btn btn-warning' %> -->
    <%= link_to '仲間を探したい！', '/under_construction', class: 'btn btn-primary' %>
    </h3>

  <%= link_to '登録ユーザ一覧', '/gourmet_info/registered_users' %>

  </div> <!-- class="container-fluid" -->
  </div> <!-- class="jumbotron" -->

  <!-- </div> コメント: class="well center-block" -->

</div>