  <div class="container">

  <div class="well center-block text-center" style="width:40%;">

  <h1 class="btn-group-vertical btn-group-lg">
  <%= link_to 'レストラン情報を投稿する', '/gourmet_info/new_restaurant', class: 'btn btn-primary' %>
  <%= link_to 'レシピ情報を投稿する', '/under_construction', class: 'btn btn-success' %>
  </h1>
  
  </div>

  </div>
