.jumbotron-extend {
    position: relative;
    height: 100vh;
    min-height: 300px;
    background: url(http://imgcp.allabout.co.jp/img-c/1000/auto/tipsplus/feature/115/20151016_1444957671258.jpg);
    background-size: cover;
}

.chara {
    color: yellow;
}

h1 {
    color: yellow;
}


.jumbotron-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
